<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.son.repository.chatDao">
	<select id="getRoomList" resultType="String">
		SELECT roomName FROM chatList
	</select>
	<insert id="insertNewRoom" parameterType="String">
		INSERT INTO chatList
		VALUES(#{roomName}, #{owner})
	</insert>
	<select id="isRoom" parameterType="String" resultType="String">
		SELECT roomName
		FROM chatList WHERE roomName = #{roomName}
	</select>
	<delete id="deleteRoom" parameterType="String">
		DELETE FROM chatlist WHERE
		roomName = #{roomName} AND owner = #{owner}
	</delete>

	<!-- select test -->
	<select id="roomListAll" resultType="dto.UserDTO">
		SELECT * FROM tbl_applicant
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<choose>
				<when test="name != null">
					AND name = #{name}
				</when>
				<when test="deptment != null">
					AND deptment = #{deptment}
				</when>
				<otherwise>
					AND test_score > #{test_score}
				</otherwise>
			</choose>
		</trim>
	</select>
	<!-- update test -->
	<update id="updateYN" parameterType="dto.UserDTO">
		UPDATE tbl_applicant
		<set>
			<if test="deptment != null">deptment=#{deptment},</if>
			<if test="gpa != null">gpa=#{gpa}</if>
		</set>
		where name=#{name}
	</update>
	<!-- use trim element -->
	<update id="updateTrim">
		UPDATE tbl_applicant
		<trim prefix="SET" suffixOverrides=",">
			<if test="deptment != null">deptment=#{deptment},</if>
			<if test="gpa != null">gpa=#{gpa},</if> <!-- -->
			where name=#{name}
		</trim>
	</update>

	<select id="selectUser" resultType="dto.UserDTO">
		SELECT *
		FROM tbl_applicant
		<where>
			<foreach item="item" index="index" collection="array"
				open="name in (" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>

</mapper>