<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.son.repository.chatDao">
	<select id="getRoomList" resultType="String">
		SELECT * FROM chatList
	</select>
	<insert id="insertNewRoom" parameterType="String">
		INSERT INTO chatList VALUES(#{roomName})
	</insert>
	<select id="isRoom" parameterType="String" resultType="String">
		SELECT * FROM chatList WHERE chatName = #{roomName}
	</select>
	<delete id="deleteRoom" parameterType="String">
		DELETE FROM chatlist WHERE chatName = #{roomName}
	</delete>
</mapper>